/.idea
.DS_Store
/node_modules
/vendor
/src/**/*.js
/src/**/*.js.map
/public_html/dist
/public_html/index.html
/npm-debug.log
/webpack/target.js
/node_modules/bootstrap
.angular-cli.json
.editorconfig
.gitignore
README.md
e2e/
karma.conf.js
package-lock.json
package.json
protractor.conf.js
src/
tsconfig.json
tslint.json
