/* You can add global styles to this file, and also import other style files */
body {
	background-color: #2C3E4F;
	color: seashell;
}

.headers {
	padding-top: 1rem;
}

.btn-link {
	color: red;
}

.btn-link:hover {
	text-decoration: none;
	font-weight: bold;
	color: red;
}

li {
	list-style: none;
}

li a:hover {
	text-decoration: none;
	font-weight: bold;
	color: dodgerblue;
}